{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Build Your Build{% endblock %}</title>
    {% block extra_css %}{% endblock  %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Sidebar Navigation -->
    <aside class="sidebar">
        <a  href="/" class="logo">ByB</a>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link active" data-nav-type="home">
                    <span role="img" arial-label="Casa">🏠</span> Início
                </a>
            </li>
            <li class="nav-item">
                <a href="#sistemas" class="nav-link" data-nav-type="anchor">
                    <span role="img" arial-label="Livros">📚</span> Sistemas RPG
                </a>
            </li>
            <li class="nav-item">
                <a href="#funcoes" class="nav-link" data-nav-type="anchor">
                    <span role="img" arial-label="Engrenagem">⚙️</span> Funções 
                </a>
            </li>
        </ul>

        <div class="nav-divider"></div>

        <div class="nav-section-title">Recursos</div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{% url 'personagem:personagens' %}" class="nav-link" data-nav-type="page">
                    <span role="img" arial-label="Livros">📚</span> Personagens
                </a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link" data-nav-type="anchor">
                    <span role="img" arial-label="Papel e lápis">📝</span> Criar
                </a>
            </li>
        </ul>

        <div class="nav-divider"></div>

        <div class="nav-section-title">Suporte</div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#contato" class="nav-link" data-nav-type="anchor">
                    <span role="img" arial-label="Balão de fala">💬</span> Contato
                </a>
            </li>
            <li class="nav-item">
                <a href="#faq" class="nav-link" data-nav-type="anchor">
                    <span role="img" arial-label="Interrogação vermelha">❓</span> FAQ
                </a>
            </li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>